---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$yarn-blue-light: #e8e3ba;
$yarn-blue: rgba(224, 105, 26, 0.842);
$yarn-blue-dark: rgba(241, 104, 13, 0.774);
$yarn-blue-darker: rgba(228, 100, 15, 0.76);
$yarn-blue-darkest: rgba(233, 107, 23, 0.774);

$text-muted: #52585e;
$text-muted-er: #6d767d;

$navbar-light-color: rgba(0, 0, 0, 0.6);
$navbar-light-hover-color: rgba(0, 0, 0, 0.7);
$navbar-light-active-color: rgba(0, 0, 0, 0.8);
$navbar-light-disabled-color: rgba(0, 0, 0, 0.3);

$brand-primary: $yarn-blue;
$progress-bar-color: $brand-primary;

$link-color: saturate(darken($brand-primary, 8%), 20%);

$npm-red: #c12127;

@import 'bootstrap/scss/bootstrap.scss';
@import '_base.scss';
@import '_navbar.scss';
@import '_icons.scss';
@import '_heros.scss';
@import '_features.scss';
@import '_featurettes.scss';
@import '_guides.scss';
@import '_code.scss';
@import '_users.scss';
@import '_404.scss';
@import '_tabs.scss';
@import '_navs.scss';
@import '_cards.scss';
@import '_badges.scss';
@import '_toc.scss';
@import '_footer.scss';
@import '_search.scss';
@import '_docsearch.scss';
@import '_details.scss';
@import '_readmore.scss';
@import '_copyable.scss';
@import '_highlight.scss';
@import '_install.scss';

// should come from bootstrap but it doesn't
.justify-items-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.flex-column {
  flex-direction: column;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.install-select-os {
  margin-top: 30px;
}
