---
layout: default
title: 404
description: Page not found.
permalink: /404.html
---

<div class="hero">
  <div class="container">
    <h1 class="hero-text display-4">404: Page Not Found</h1>
    <script>
      var GOOG_FIXURL_LANG = "en";
      var GOOG_FIXURL_SITE = "https://pkg.rigelk.eu";
    </script>
  </div>
</div>
