---
layout: page
scripts:
  - "/js/build/documentation.js"
---

{% include vars.html %}

<div class="hero">
  <div class="container">
    <h1 class="hero-text display-4">{{i18n.devdocs.title}}</h1>
  </div>
</div>

<div class="container">
  {{content}}
</div>
