{% include vars.html %}

<hr class="footer-divider">

<div class="container">
  <footer class="footer">
    <div class="footer-left">
      <span class="footer-item">PeerTube</span>
      <span class="footer-item"><a href="https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE">{{i18n.site_agpl_license}}</a></span>
      <span class="footer-item"><a href="{{url_base}}/org/code-of-conduct.html">{{i18n.site_code_of_conduct}}</a></span>
    </div>

    <div class="footer-right">
      {% if vars_active_language.tag == "en" %}
        <span class="footer-item"><a href="https://framagit.org/framasoft/peertube/documentation/edit/master/{{page.path}}">{{i18n.site_edit_this_page}}</a></span>
      {% else %}
        <span class="footer-item"><a href="{{url_base}}/org/translations.html">{{i18n.site_edit_this_page}}</a></span>
      {% endif %}
    </div>
  </footer>
</div>
