---
layout: default
---

{% include vars.html %}

<div class="hero">
  <div class="container">
    <h1 class="hero-text display-4">{{i18n[page.id]}}</h1>
    {% if layout.hero_subtext %}
      {% include {{ layout.hero_subtext }} %}
    {% elsif page.hero_subtext %}
      {% include {{ page.hero_subtext }} %}
    {% endif %}
  </div>
</div>

<div class="container">
  {% if layout.timer == true and page.timer != false %}
    <div style="margin-bottom:15px;">
      <span class="badge badge-default">{% include read_time.html %} to read</span>
    </div>
  {% endif %}

  {{content}}
</div>
